{{#block "header"}}

    <!DOCTYPE html>
    <html>
    <head>
        <title>{{#block "title"}}Hello Friend!{{/block}}
        </title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <div>
{{/block}}

        <h1>HERO SQUAD</h1>


<ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link" href='/'>HOME</a></li>
    <li class="nav-item"><a class="nav-link" href='/hero'>CREATE HERO</a></li>
    <li class="nav-item"><a class="nav-link" href='/squad'>CREATE SQUAD</a></li>
    <li class="nav-item"><a class="nav-link" href='/herosquad'>SQUADS $ HEROES</a></li>
</ul>


    <div class="col-md-4">
        <img src='/images/batman.png' alt='A photo of a mountain.'/></div>
    <div class="col-md-4">
        <img src='/images/download.png' alt='A photo of a a rocky beach.'/></div>
    <div class="col-md-4">
        <img src='/images/ironman.png' alt='A photo of a a rocky beach.'/></div>

<!-- begin inner template-->


<div class="container">
    {{#block "content"}}

    {{/block}}

</div>
<!-- end inner template-->
{{#block "footer"}}

    </body>
    </html>
{{/block}}