{{#block "header"}}

    <!DOCTYPE html>
    <html>
    <head>
        <title>{{#block "title"}}Hello Friend!{{/block}}
        </title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
{{/block}}

        <h1>HERO SQUAD</h1>


<li>
    <div class="nav-item"><ul class="nav-link" ><a href='/'>HOME</a></ul></div>
    <div class="nav-item"><ul class="nav-link"><a href='/squad'>CREATE HERO</a></ul></div>
    <div class="nav-item"><ul class="nav-link"><a href='/squad'>CREATE SQUAD</a></ul></div>
    <div class="nav-item"><ul class="nav-link"><a href='/squad'>SQUADS $ HEROES</a></ul></div>
</li>
<!-- begin inner template-->


<div class="container">
    {{#block "content"}}

    {{/block}}

</div>
<!-- end inner template-->
{{#block "footer"}}

    </body>
    </html>
{{/block}}