

{{#partial "content"}}

    <form>

        <h1>Input your HERO`S DETAILS</h1>
        <div>
        <label for="name">Hero Name</label>
        <input id ="name" type="text">
        </div>
        <div>
        <label for="age">Hero Age</label>
        <input id ="age" type="numbers">
        </div>
        <div>
        <label for="power">Hero Power</label>
        <input id ="power" type="text">
        </div>

        <div><button type="submit">Submit Hero</button></div>

    </form>
{{/partial}}

{{>layout.hbs}}