

{{#partial "content"}}

    <H3>Create your squad here</H3>

    <form>

        <div>
            <label for="name">Hero Name</label>
            <input id ="name" type="text">
        </div>
        <div>
            <label for="group">Hero Group</label>
            <input id ="group" type="text">
        </div>


        <div><button type="submit">Ready for battle</button></div>

    </form>
{{/partial}}

{{>layout.hbs}}